$headerFont: 'Roboto', Sans-Serif;
$contentFont: 'Droid Serif', Sans-Serif;
$textColor: #7C7E84;

body {
  // background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/stripes-light.png");
  background-color: whitesmoke;
  margin: 0;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

#header_line {
  margin-top: 50px;
  height: 75px;
  width: 100%;
  border-top: dotted lightgray 2px;
  display: flex;
}

#main_header {
  font-family: $headerFont;
  font-size: 82px;
  color: $textColor;
  margin-top: 15px;
  margin-left: 150px;
}


#welcome {
  margin-top: 10px;
  margin-left: 250px;
  border-left: solid lightgray 2px;
  height: 75px;
  padding: 20px;
}

#message {
  text-align: center;
  color: $textColor;
  font-family: $headerFont;
  margin: 10px;
  font-size: 18px;
}

.content {
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}

.user_buttons {
  text-decoration: none;
  font-family: $headerFont;
  color: black;
  border: solid black 1px;
  padding: 15px;
}

/*** registration & login pages ***/
#normal_header {
  font-family: $headerFont;
  color: $textColor;
  margin-top: 100px;
}

#form_body {
  margin: 20px;
}

.header_input {
  font-family: $headerFont;
  color: $textColor;
  font-size: 24px;
}

.simple_line {
  height: 22px;
  width: 200px;
  font-size: 20px;
}

#register_button, #login_button { 
  height: 40px;
  width: 150px;
  border: 1px solid;
  font-size: 16px;
  font-family: $headerFont;
}

/*** gallery page ***/
#gallery_body {
  margin-top: 100px;
  font-family: $headerFont;
  font-size: 18px;
}

#secondary_header {
  position: fixed;
  right: 50px;
  display: flex;
  flex-direction: column;
}

#username {
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

#new_pic, #logout {
  margin-top: 20px;
}

#logout_button, #post_button {
  text-decoration: none;
  font-family: $headerFont;
  color: black;
  border: solid 1px;
  padding: 10px;
}

#logout_button {
  padding-left: 38px;
  padding-right: 38px;
}

#picture_grid {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

.cards {
  margin-top: 10px;
  height: 400px;
  width: 525px;
}