$headerFont: 'Roboto', Sans-Serif;
$contentFont: 'Droid Serif', Sans-Serif;
$textColor: #7C7E84;

body {
  background-color: whitesmoke;
  margin: 0;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

a {
  color: black;
  font-family: $headerFont;
  font-size: 18px;
}

a:hover {
  color: #636363;
}

#header_line {
  margin-top: 50px;
  height: 75px;
  width: 100%;
  border-top: dotted lightgray 2px;
  display: flex;
}

#main_header {
  font-family: $headerFont;
  font-size: 82px;
  color: $textColor;
  margin-top: 15px;
  margin-left: 150px;
}


#welcome {
  margin-top: 10px;
  margin-left: 250px;
  border-left: solid lightgray 2px;
  height: 75px;
  padding: 20px;
}

#message {
  text-align: center;
  color: $textColor;
  font-family: $headerFont;
  font-size: 18px;
  height: 100px;
  width: 400px;
  margin-left: 20px;
}

.content {
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}

#messages {
  color: red;
  font-family: $contentFont;
  font-size: 14px;
  height: 100px;
  width: 150px;
}

#register_back {
  font-family: $headerFont;
  color: black;
  text-decoration: none;
  padding: 10px;
  border: 1px solid black;
  background: white;
  padding-left: 56px;
  padding-right: 56px;
  background: transparent;
}

#redirect_home {
  background: transparent;
  text-decoration: none;
}

/*** registration & login pages ***/
#normal_header {
  font-family: $headerFont;
  color: $textColor;
  margin-top: 100px;
}

#form_body {
  margin: 20px;
}

.header_input {
  font-family: $headerFont;
  color: $textColor;
  font-size: 24px;
}

.simple_line {
  height: 22px;
  width: 200px;
  font-size: 20px;
  margin: 10px;
}

#register_button, #login_button, #post_button { 
  height: 40px;
  width: 150px;
  border: 1px solid;
  font-size: 16px;
  font-family: $headerFont;
  background: transparent;
}

#auth_message {
  color: red;
  font-family: $contentFont;
  font-size: 14px;
}

/*** gallery page ***/
#auth_body {
  position: fixed;
  top: 35%;
  left: 5%;
}

.home_login, .home_register {
  text-decoration: none;
  border: 1px solid black;
  padding: 10px;
  color: black;
  text-decoration: none;
  padding-left: 18px;
  padding-right: 18px;
}

.home_login {
  padding-left: 29px;
  padding-right: 29px;
}

#gallery_body {
  margin-top: 100px;
  font-family: $headerFont;
  font-size: 18px;
  color: $textColor;
}

#secondary_header {
  position: fixed;
  top: 35%;
  right: 3%;
  display: flex;
  flex-direction: column;
  font-family: $headerFont;
}

#username {
  border-bottom: 1px solid lightgray;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 16px;
}

#logout {
  margin-top: 20px;
}

#logout_button, #post_button, #id_back {
  text-decoration: none;
  font-family: $headerFont;
  color: black;
  border: solid 1px;
  padding: 10px;
  background: transparent;
  font-size: 18px;
}

#logout_button {
  padding-left: 35px;
  padding-right: 35px;
  font-size: 17px;
}

#picture_grid {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  margin-bottom: 150px;
}

.cards {
  margin-top: 25px;
  height: 400px;
  width: 525px;
  margin: 10px;
}

.description_div {
  margin-bottom: 20px;
}

.card_desc, .description_div {
  border-bottom: #7C7E84 1px solid;
}

#side_messages {
  margin-top: 25px;
  color: red;
}

/*** new page ***/
textarea {
  margin: 15px;
  height: 100px;
  width: 300px;
  font-size: 18px;
}

#back {
  margin-top: 30px;
}

#back_button {
  text-decoration: none;
  font-family: $headerFont;
  background-color: transparent;
  color: black;
  border: solid 1px;
  padding: 10px;
  padding-left: 58px;
  padding-right: 53px;
}

/*** Photo ID Page ***/
#header_container {
  display: flex;
  justify-content: flex-start;
}

#photo_header {
  font-family: $headerFont;
  margin-left: 50px;
  margin-top: 100px;
  color: $textColor;
}

#photo {
  margin-left: 50px;
  display: flex;
  justify-content: flex-start;
}

#photo_content {
  margin-top: 10px;
}

#photo_content, #desc_content {
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
  font-family: $headerFont;
  font-size: 18px;
  color: $textColor;
}

#edit_button {
  border: 1px solid black;
  font-family: $headerFont;
  padding: 10px;
  font-size: 17px;
  background: transparent;
  padding-left: 44px;
  padding-right: 44px;
  margin-bottom: 7px;
}

#delete_button {
  border: 1px solid black;
  font-family: $headerFont;
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 17px;
  background: transparent;
}

#desc_content {
  margin-top: 15px;
  margin-bottom: 100px;
}

#id_back {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 17px;
}

/*** logout page ***/
#landing_page {
  font-family: $headerFont;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;
}

/*** edit page ***/
#put_button {
  font-family: $headerFont;
  border: 1px solid black;
  padding: 10px;
  background: transparent;
  font-size: 17px;
  padding-left: 59px;
  padding-right: 59px;
}

/*** user's photo page ***/
#sidebar {
  position: fixed;
  top: 35%;
  right: 5%;
  font-family: $headerFont;
  color: $textColor;
  display: flex;
  flex-direction: column;
}

.user_content {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  font-family: $headerFont;
  color: $textColor;
  margin-bottom: 200px;
}

.user_photo {
  margin: 10px;
}

.content_desc {
  font-size: 18px;
}

/*** pretty stuff ***/
#delete_button:hover, #logout_button:hover, #id_back:hover, #post_button:hover, #back_button:hover, #landing_page:hover, .home_register:hover, .home_login:hover, #register_button:hover, #login_button:hover, #register_back:hover, #edit_button:hover, #put_button:hover {
  background: black;
  color: white;
}

@media (max-width: 768px){
  body {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    margin: 0;
    padding: 0;
  }

  #welcome, #message {
    margin: 0;
    padding: 0;
  }

  #welcome {
    width: 300px;
    height: 95px;
    padding: 10px;
  }

  #message {
    width: 300px;
    padding-top: 20px;
  }

  #header_line {
    border: none;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
  }

  #main_header {
    width: 100%;
    font-size: 42px;
    margin-left: 15px;
    margin-top: 30px;
  }

  /*** logged out index ***/

  #gallery_body {
    display: flex;
    flex-direction: column;
  }

  #first_image {
    height: 333px;
    width: 500px;
  } 
  
  .image_div {
    margin-top: 30px;
  }

  .description_div, .card_desc {
    border: none;
  }

  #auth_body {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    top: 33%;
    left: 0;
    justify-content: space-evenly;
  }

  .home_register, .home_login {
    padding: 5px;
  }

  /*** logged in index ***/

  #secondary_header {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    top: 33%;
    right: 0;
    justify-content: space-evenly;
    height: 50px;
  }
  
  #username {
    position: absolute;
    border: none;
  }

  #new_pic, #logout {
    margin: 0;
    padding: 10px;
  }

  #post_button, #logout_button {
    padding: 5px;
  }

  #post_button {
    margin-left: 45px;
  }

  /*** photo id page ***/

  #id_photo, #photo {
    height: 466px;
    width: 700px;
  }

  #header_container {
    margin-top: 30px;
  }

  #sidebar {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    top: 33%;
    right: 0;
    justify-content: space-evenly;
    height: 50px;
  }

  #messages {
    position: absolute;
    top: 60px;
  }

  #edit_button, #delete_button, #id_back {
    margin: 0;
    padding: 5px;
  }

  #logout {
    padding: 6px;
  }

  #back {
    margin-top: 6px;
    margin-left: 80px;
  }

  #delete_button, #logout_button, #id_back, #post_button, #back_button, #landing_page, .home_register, .home_login, #register_button, #login_button, #register_back, #edit_button, #put_button {
    border-radius: 3px;
  }
}