<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Roboto:300" rel="stylesheet">
  <title>_ARCHITEKT</title>
</head>
<body>
  <div id="header_line"></div>
  <div id="header_divide"></div>
  <div id="welcome"> A place for visual creators to share their work.</div>
  {{{body}}}
</body>
</html>