<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Roboto:300" rel="stylesheet">
  <title>envision</title>
</head>

<body>
  <div id="header_line">
    <a href="/gallery" id="redirect_home">
      <h1 id="main_header">e n v i s i o n</h1>
    </a>
    <div id="welcome">
      <div id="message">
         a space for visual creators to share and be inspired by works of others</div>
    </div>
  </div>
  {{{body}}}
</body>
</html>