  <h1 id="normal_header">register</h1>
  <div id="form_body">
    <form action="/register" enctype="application/x-www-form-urlencoded" method="POST">
      <h1 class="header_input">Username:
        <br>
        <input type="text" name="username" class="simple_line">
      </h1>
      <h1 class="header_input"> Password:
        <br>
        <input type="text" name="password" class="simple_line">
      </h1>
      <h1 class="header_input"> Name:
        <br>
        <input type="text" name="name" class="simple_line">
      </h1>
      <h1 class="header_input"> Email:
        <br>
        <input type="text" name="email" class="simple_line">
      </h1>
      <input type="submit" value="register" id="register_button">
    </form>
</div>