<h1 id="normal_header">register</h1>
<div id="messages">{{message}}</div>
<div id="form_body">
  <form action="/register" enctype="application/x-www-form-urlencoded" method="POST">
    <h1 class="header_input">Username:
      <br>
      <input type="text" name="username" class="simple_line">
    </h1>
    <h1 class="header_input"> Password:
      <br>
      <input type="password" name="password" class="simple_line" id="password_input" onchange="check();">
    </h1>
    <h1 class="header_input"> Name:
      <br>
      <input type="text" name="name" class="simple_line">
    </h1>
    <h1 class="header_input"> Email:
      <br>
      <input type="text" name="email" class="simple_line">
    </h1>
    <input type="submit" value="register" id="register_button">
  </form>
  <div id="back">
    <a href="http://localhost:3005/" id="register_back"> back </a>
  </div>
</div>