<div class="content">
  <div class="menu">
    <a href="http://localhost:3005/register" class="user_buttons">new users register here</a>
  </div>
  <div class="menu">
    <a href="http://localhost:3005/login" class="user_buttons">login here</a>
  </div>
</div>