body {
  background-color: whitesmoke;
  margin: 0;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px; }

#header_line {
  margin-top: 50px;
  height: 75px;
  width: 100%;
  border-top: dotted lightgray 2px;
  display: flex; }

#main_header {
  font-family: "Roboto", Sans-Serif;
  font-size: 82px;
  color: #7C7E84;
  margin-top: 15px;
  margin-left: 150px; }

#welcome {
  margin-top: 10px;
  margin-left: 250px;
  border-left: solid lightgray 2px;
  height: 75px;
  padding: 20px; }

#message {
  text-align: center;
  color: #7C7E84;
  font-family: "Roboto", Sans-Serif;
  margin: 10px;
  font-size: 18px; }

.content {
  display: flex;
  justify-content: space-around;
  margin-top: 150px; }

.user_buttons {
  text-decoration: none;
  font-family: "Roboto", Sans-Serif;
  color: black;
  border: solid black 1px;
  padding: 15px; }

#messages {
  color: red;
  font-family: "Droid Serif", Sans-Serif;
  font-size: 14px; }

#register_back {
  font-family: "Roboto", Sans-Serif;
  color: black;
  text-decoration: none;
  padding: 10px;
  border: 1px solid black;
  background: white;
  padding-left: 56px;
  padding-right: 56px;
  background: transparent; }

#redirect_home {
  background: transparent;
  text-decoration: none; }

/*** registration & login pages ***/
#normal_header {
  font-family: "Roboto", Sans-Serif;
  color: #7C7E84;
  margin-top: 100px; }

#form_body {
  margin: 20px; }

.header_input {
  font-family: "Roboto", Sans-Serif;
  color: #7C7E84;
  font-size: 24px; }

.simple_line {
  height: 22px;
  width: 200px;
  font-size: 20px;
  margin: 10px; }

#register_button, #login_button, #post_button {
  height: 40px;
  width: 150px;
  border: 1px solid;
  font-size: 16px;
  font-family: "Roboto", Sans-Serif;
  background: transparent; }

/*** gallery page ***/
#gallery_body {
  margin-top: 100px;
  font-family: "Roboto", Sans-Serif;
  font-size: 18px;
  color: #7C7E84; }

#secondary_header {
  position: fixed;
  right: 50px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", Sans-Serif; }

#username {
  border-bottom: 1px solid lightgray;
  padding: 10px;
  margin-bottom: 40px; }

#logout {
  margin-top: 20px; }

#logout_button, #post_button, #id_back {
  text-decoration: none;
  font-family: "Roboto", Sans-Serif;
  color: black;
  border: solid 1px;
  padding: 10px;
  background: transparent; }

#logout_button {
  padding-left: 33px;
  padding-right: 33px; }

#picture_grid {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center; }

.cards {
  margin-top: 25px;
  height: 400px;
  width: 525px;
  margin: 10px; }

.description_div {
  margin-bottom: 20px; }

.card_desc, .description_div {
  border-bottom: #7C7E84 1px solid; }

#side_messages {
  margin-top: 25px;
  color: red; }

/*** new page ***/
textarea {
  margin: 15px;
  height: 100px;
  width: 300px;
  font-size: 18px; }

#back {
  margin-top: 30px; }

#back_button {
  text-decoration: none;
  font-family: "Roboto", Sans-Serif;
  background-color: transparent;
  color: black;
  border: solid 1px;
  padding: 10px;
  padding-left: 58px;
  padding-right: 53px; }

/*** Photo ID Page ***/
#header_container {
  display: flex;
  justify-content: flex-start; }

#photo_header {
  font-family: "Roboto", Sans-Serif;
  margin-left: 50px;
  margin-top: 100px;
  color: #7C7E84; }

#photo {
  margin-left: 50px;
  display: flex;
  justify-content: flex-start; }

#photo_content {
  margin-top: 10px; }

#photo_content, #desc_content {
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
  font-family: "Roboto", Sans-Serif;
  font-size: 18px;
  color: #7C7E84; }

#edit_button {
  border: 1px solid black;
  font-family: "Roboto", Sans-Serif;
  padding: 10px;
  font-size: 17px;
  background: transparent;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 7px; }

#delete_button {
  border: 1px solid black;
  font-family: "Roboto", Sans-Serif;
  padding: 10px;
  padding-left: 31px;
  padding-right: 31px;
  font-size: 17px;
  background: transparent; }

#desc_content {
  margin-top: 15px;
  margin-bottom: 100px; }

#id_back {
  padding-left: 37px;
  padding-right: 37px; }

/*** logout page ***/
#landing_page {
  font-family: "Roboto", Sans-Serif;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px; }

/*** edit page ***/
#put_button {
  font-family: "Roboto", Sans-Serif;
  border: 1px solid black;
  padding: 10px;
  background: transparent;
  font-size: 17px;
  padding-left: 59px;
  padding-right: 59px; }

/*** user's photo page ***/
#sidebar {
  float: right;
  margin-top: 150px;
  font-family: "Roboto", Sans-Serif;
  color: #7C7E84; }

.user_content {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  font-family: "Roboto", Sans-Serif;
  color: #7C7E84;
  margin-bottom: 200px; }

.user_photo {
  margin: 10px; }

/*** pretty stuff ***/
#delete_button:hover, #logout_button:hover, #id_back:hover, #post_button:hover, #back_button:hover, #landing_page:hover, .user_buttons:hover, #register_button:hover, #login_button:hover, #register_back:hover, #edit_button:hover, #put_button:hover {
  background: black;
  color: white; }
