<h1 id="normal_header">Add To Gallery</h1>
<div id="messages">{{message}}</div>
<form action="/gallery" enctype="application/x-www-form-urlencoded" method="POST">
  <h1 class="header_input">Author:
    <br>
    <input type="text" name="author" class="simple_line" value="{{photo.author}}">
  </h1>
  <h1 class="header_input">Link:
    <br>
    <input type="url" name="link" class="simple_line" value="{{photo.link}}">
  </h1>
  <h1 class="header_input">Description:
    <br>
    <textarea name="description" id="description">{{photo.description}}</textarea>
  </h1>
  <input type="submit" value="Post" id="post_button">
  <br>
  <div id="back">
    <a href="http://localhost:3005/gallery" id="back_button"> Back </a>
  </div>
</form>