<div id="main_header">Photo: {{photo.attributes.id}}</div>
<div id="author">Author: {{photo.attributes.author}}</div>
<div id="photo">
  <img src="{{photo.attributes.link}}" alt="image" height="600" width="900">
</div>
<div id="description">{{photo.attributes.description}}</div>
