<h2> Register to add pictures to the gallery!</h2>
<form id="newUser" action="/register" method="POST">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" placeholder="A unique username" value="{{username}}">
  <br>
  <label for="password">Password: </label>
  <input type="text" id="password" name="password" placeholder="Enter a secure password">
  <br>
  <label for="name"> Name: </label>
  <input type="text" id="name" name="name" placeholder="Your name" value="{{name}}">
  <br>
  <label for="email">Email: </label>
  <input type="text" id="email" name="email" placeholder="Your e-mail" value="{{email}}">
  <br>
  <input type="submit" value="SUBMIT">
</form>